/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/dartseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Pipeline command-line parameters
    // Input options
    input                      = null
    test_root                  = System.getenv('DARTSEQ_TEST_ROOT') ?: '/work_ikmb/sukmb662/test_dartseq'

    // References
    genome                     = null
    fasta                      = null
    star_index                 = null
    gtf                        = null
    hisat2_index               = null
    hisat2_splicesites         = null
    hisat2_build_memory        = '8.GB'
    aligner                    = 'star'
    trimmer                    = 'fastp'
    skip_alignment             = false
    run_bullseye               = false
    bullseye_mock              = false
    bullseye_code_dir          = "${projectDir}/../bullseye_test/Bullseye/Code"
    bullseye_container         = 'ghcr.io/nf-core/bullseye:0.1.1'
    bullseye_annotation_file   = null
    bullseye_control_group     = 'control'
    bullseye_parse_min_coverage = 10
    bullseye_edit_type         = 'C2U'
    bullseye_min_edit          = 10
    bullseye_max_edit          = 80
    bullseye_edit_fold_threshold = 1.5
    bullseye_min_edit_sites    = 2
    bullseye_edited_min_coverage = 10
    bullseye_control_min_coverage = 10
    bullseye_replicates_min    = 1
    bullseye_quant_coverage    = 10
    run_bullseye_racfilter     = false
    bullseye_rac_remove_seq    = true
    run_bullseye_gather_sites  = false
    bullseye_gather_score      = true
    bullseye_gather_coverage   = true
    bullseye_gather_mutations  = true
    run_bullseye_glm           = false
    bullseye_glm_mock          = false
    bullseye_r_container       = null
    bullseye_functions_r_file  = '/opt/bullseye/example_data/markdown/functions.R'
    bullseye_glm_coldata_file  = null
    bullseye_glm_design        = '~group'
    bullseye_glm_link          = 'betabin'
    bullseye_glm_min_cov       = 10
    run_rustqc                 = false
    rustqc_cmd                 = null
    rustqc_container           = null
    rustqc_mock                = false
    star_ignore_sjdbgtf        = false
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = System.getenv('HOOK_URL')
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // Module compatibility note: https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "${params.test_root}/cache/singularity"
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.cacheDir      = "${params.test_root}/cache/apptainer"
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
    test_rustqc_real {
        process {
            resourceLimits = [cpus: 8, memory: '30.GB', time: '2.h']
        }
        workDir = "${params.test_root}/work/test_rustqc_real"
        params {
            config_profile_name        = 'RustQC real test profile'
            config_profile_description = 'DART-seq test dataset with STAR alignment and real RustQC execution'
            input          = "$projectDir/assets/samplesheet_4samples_local.csv"
            outdir         = "${params.test_root}/results/test_rustqc_real"
            trimmer        = 'fastp'
            aligner        = 'star'
            skip_alignment = false
            run_bullseye   = false
            run_rustqc     = true
            rustqc_mock    = false
            rustqc_cmd       = 'samtools idxstats {bam} > {prefix}.rustqc.tsv'
            rustqc_container = '/tmp/samtools_local.sif'
            star_index = null
            fasta      = "$projectDir/../test-datasets/data/dartseq/reference/genome.fa"
            gtf        = "$projectDir/../test-datasets/data/dartseq/reference/genes.gtf"
        }
    }
    test_bullseye_real {
        process {
            resourceLimits = [cpus: 8, memory: '30.GB', time: '2.h']
        }
        workDir = "${params.test_root}/work/test_bullseye_real"
        params {
            config_profile_name        = 'Bullseye real test profile'
            config_profile_description = 'DART-seq test dataset with STAR alignment and real Bullseye execution'
            input          = "$projectDir/assets/samplesheet_4samples_local.csv"
            outdir         = "${params.test_root}/results/test_bullseye_real"
            trimmer        = 'fastp'
            aligner        = 'star'
            skip_alignment = false
            run_bullseye   = true
            bullseye_mock  = false
            run_rustqc     = false
            bullseye_container       = 'ghcr.io/nf-core/bullseye:0.1.1'
            bullseye_code_dir        = '/opt/bullseye/Code'
            bullseye_annotation_file = '/opt/bullseye/example_data/mm10.Apc.refFlat'
            bullseye_control_group   = 'control'
            bullseye_parse_min_coverage   = 1
            bullseye_min_edit             = 0
            bullseye_max_edit             = 100
            bullseye_edit_fold_threshold  = 1
            bullseye_min_edit_sites       = 1
            bullseye_edited_min_coverage  = 1
            bullseye_control_min_coverage = 1
            bullseye_replicates_min       = 1
            bullseye_quant_coverage       = 1
            star_index = null
            fasta      = "$projectDir/../test-datasets/data/dartseq/reference/genome.fa"
            gtf        = "$projectDir/../test-datasets/data/dartseq/reference/genes.gtf"
        }
    }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/dartseq custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load nf-core/dartseq custom profiles from different institutions.
// Optionally include a pipeline-specific nf-core/configs profile.
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/dartseq.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/dartseq'
    contributors    = [
        // Contributor metadata for the pipeline.
        [
            name: 'Mathieu Flamand',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Olga Brovkina',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Joana Pimenta Bernardes',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Fatemeh Nasehi',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/dartseq'
    description     = """Pipeline for m6A detection in RNAseq data"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
