/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/dartseq'
    test_root                  = System.getenv('DARTSEQ_TEST_ROOT') ?: '/work_ikmb/sukmb662/test_dartseq'
    // Ensure test has minimal required parameters to avoid validation errors
    config_profile_name        = 'nf-test'
    config_profile_description = 'Minimal test profile for nf-test'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

// Increase pull timeout for container-heavy tests (e.g. Bullseye).
singularity.pullTimeout = '30 min'

// Load test profile by default for nf-test
includeConfig '../conf/test.config'

process {
    withName: 'HISAT2_ALIGN' {
        ext.args = '--dta --temp-directory .'
    }
}
