/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'STAR_ALIGN' {
        ext.args = [
            '--outSAMtype BAM SortedByCoordinate',
            '--outSAMattributes NH HI AS NM MD',
            '--outFilterType BySJout',
            '--outFilterMultimapNmax 20',
            '--alignSJoverhangMin 8',
            '--alignSJDBoverhangMin 1',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverReadLmax 0.04',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--readFilesCommand zcat',
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/star/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.bam'
            ],
            [
                path: { "${params.outdir}/star/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.out'
            ],
            [
                path: { "${params.outdir}/star/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.tab'
            ]
        ]
    }

    withName: 'HISAT2_ALIGN' {
        beforeScript = 'export TMPDIR=$PWD'
        ext.args = '--dta'
        ext.singularity_pull_docker_container = true
        publishDir = [
            path: { "${params.outdir}/hisat2/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{bam,log}'
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/hisat2/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.bai'
        ]
    }

    withName: 'RUSTQC' {
        publishDir = [
            path: { "${params.outdir}/rustqc/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{tsv,json}'
        ]
    }

    withName: 'BULLSEYE_PARSEBAM' {
        publishDir = [
            path: { "${params.outdir}/bullseye/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.matrix.gz*'
        ]
    }

    withName: 'BULLSEYE_FIND_EDIT_SITES' {
        publishDir = [
            path: { "${params.outdir}/bullseye/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.bed'
        ]
    }

    withName: 'BULLSEYE_SUMMARIZE_SITES' {
        publishDir = [
            path: { "${params.outdir}/bullseye/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.bed'
        ]
    }

    withName: 'BULLSEYE_QUANTIFY_SITES' {
        publishDir = [
            path: { "${params.outdir}/bullseye/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.quantified.bed'
        ]
    }

    withName: 'BULLSEYE_RACFILTER' {
        publishDir = [
            path: { "${params.outdir}/bullseye/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.RAC.bed'
        ]
    }

    withName: 'BULLSEYE_GATHER_SITES' {
        publishDir = [
            path: { "${params.outdir}/bullseye/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{score,coverage,mut}.txt'
        ]
    }

    withName: 'BULLSEYE_R_GLM' {
        publishDir = [
            path: { "${params.outdir}/bullseye/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.glm.tsv'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
